<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>AlbertLab</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="shortcut icon" href="/static/image/albertlab.ico" />
    <link rel="bookmark" href="/static/image/albertlab.ico" />
</head>
<body>
    <div class="field" id="searchform">
        <input type="text" id="searchterm" placeholder="知识就是力量，行动改变未来。" />
        <button type="button" id="search">Find!</button>
    </div>
    <div class="subjects" >
        <table border="0" style="width:68%;margin:auto;" >
            <tr>
                <td width="17%" valign="top">
                    <ul style="list-style-type:none;">
                        <li><a style="font-weight:600px">数学(Math)</a></li>
                        <li><a style="color:#0d923f">早教</a></li>
                        <li><a style="color:#0d923f">几何(Algebra)</a></li>
                        <li><a style="color:#0d923f">线性几何</a></li>
                        <li><a style="color:#0d923f">微积分</a></li>
                    </ul>  
                </td>
                <td width="17%" valign="top">
                    <ul style="list-style-type:none;">
                        <li><a style="font-weight:600px">科学 & 工程</a></li>
                        <li><a style="color:#9e034e">物理</a></li>
                        <li><a style="color:#9e034e">化学</a></li>
                        <li><a style="color:#9e034e">生物</a></li>
                        <li><a style="color:#9e034e">医药</a></li>
                    </ul>  
                </td>
                <td width="17%" valign="top">
                    <ul style="list-style-type:none;">
                        <li><a style="font-weight:600px">计算机与科学技术</a></li>
                        <li><a style="color:#0d003f">C & C++</a></li>
                        <li><a style="color:#0d003f">Python</a></li>
                        <li><a style="color:#0d003f">Web Development</a></li>
                        <li><a style="color:#0d003f">Game Development</a></li>
                    </ul>       
                </td>
                <td width="17%" valign="top">
                    <ul style="list-style-type:none;">
                        <li><a style="font-weight:600px">英语</a></li>
                        <li><a style="color:#208170">英语角</a></li>
                        <li><a style="color:#208170">CET-4</a></li>
                        <li><a style="color:#208170">CET-6</a></li>
                        <li><a style="color:#208170">IELTS</a></li>
                    </ul>  
                </td>
            </tr>
        </table>      
    </div>

    <div class="subjects" >
        <table border="0" style="width:68%;margin:auto;" >
            <tr>
                <td width="17%" valign="top">
                    <ul style="list-style-type:none;">
                        <li><a style="font-weight:600px">推荐</a></li>
                        <li><a href="http://www.ted.com" target="_blank">TED</a></li>
                        <li><a href="http://www.khanacademy.org" target="_blank" >KhanAcademy</a></li>
                    </ul>  
                </td>
                <td width="17%" valign="top">
                    <ul style="list-style-type:none;">                
                    </ul>  
                </td>
                <td width="17%" valign="top">    
                </td>
                <td width="17%" valign="top">
                </td>
            </tr>
        </table>      
    </div>

    <!--video src="/static/video/demo.mp4" width="500" height="250" controls="controls">您的浏览器不支持此种视频格式。</video--> 
</body>

</html>